@font-face {
	font-family: "Kumbh Sans";
	src: url(./font/KumbhSans-Regular.ttf);
	font-weight: 400;
}
@font-face {
	font-family: "Kumbh Sans";
	src: url(./font/KumbhSans-Bold.ttf);
	font-weight: 700;
}
* {
	margin: 0;
	padding: 0;
	font-family: "Kumbh Sans";
	 cursor: pointer;
}
main {
	background-color: hsl(185, 75%, 39%);
	min-height: 100vh;
	background-image: url(./img/bg-pattern-top.svg), url(./img/bg-pattern-bottom.svg);
	background-position: -150px -400px, 120% -250%;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
}
.profile-card {
	width: 400px;
	border-radius: 10px;
	overflow: hidden;
    box-shadow: 0px 10px 25px 10px rgba(0, 0, 0, 0.2);
}
.upper-card {
	height: 150px;
	background-image: url(./bg-pattern-card.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.lower-card {
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.First-image {
	width: 100px;
	height: 100px;
	overflow: hidden;
	border-radius: 50%;
	border: 5px solid white;
	margin-top: -55px;
}
.image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.first-text-name {
	padding-top: 20px;
	font-size: 20px;
	color: hsl(227, 10%, 46%);
}
.first-text-name strong {
	color: hsl(229, 23%, 23%);
	font-weight: 700;
}
.small-font {
	color: hsl(227, 10%, 46%);
    margin-top: 10px;
}
.stats p {
	color: hsl(227, 10%, 46%);
    margin-top: 5px;
    font-size: 14px;
}
.stats-container {
	display: flex;
	padding: 30px 0px;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
    border-top:1px solid lightgray;
    margin-top: 30px;
    
}
.stats h4{
    font-size: 20px;
    font-weight: 700;
    color: hsl(229, 23%, 23%);
}
@media (max-width:480px) {
  .profile-card{
    width: 90%;
  }
  main{
    background-position: -700px -600px, 130px 300px;
  }  
}